body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: red;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #fff;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
  color: #333;
}
